body {
	background-image: url(https://blog.ru.playstation.com/tachyon/sites/11/2021/11/d04be61266f3787150c9884da2a37ae7b6d634aa.png?resize=1088%2C612&crop_strategy=smart);
	background-size: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
}